<h1>Listing forms_users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Form</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forms_users.each do |forms_user| %>
  <tr>
    <td><%= forms_user.user.full_name %></td>
    <td><%= forms_user.form.name %></td>
    <td><%= link_to 'Show', forms_user %></td>
    <td><%= link_to 'Edit', edit_forms_user_path(forms_user) %></td>
    <td><%= link_to 'Destroy', forms_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forms user', new_forms_user_path %>
