<%=simple_form_for(@timelog, html: { class: 'form-horizontal' },wrapper: :horizontal_form,
wrapper_mappings: {
  check_boxes: :horizontal_radio_and_checkboxes,
  radio_buttons: :horizontal_radio_and_checkboxes,
  file: :horizontal_file_input,
  boolean: :horizontal_boolean
}) do |f|%>
<div class="col-md-2">
</div>
<div class="col-md-8">
	<div class="panel panel-info">
		<div class="panel-heading">
			Timelog Form
		</div>
		<div class="panel-body">
			<%= f.error_notification %>
			<%= f.input :user_id, collection: User.active.order("lower(name_first)"),:label_method =>:full_name, input_html: {:include_blank => true}%>
			<%= f.input :timein, :as => :string, :input_html => {:value => @timelog.try(:timein) ? ApplicationHelper.toLocalTime(@timelog.timein).strftime("%Y-%m-%d %l:%M %p"): ""}%>
			<%= f.input :timeout, :as => :string, :input_html => {:value => @timelog.try(:timeout) ? ApplicationHelper.toLocalTime(@timelog.timeout).strftime("%Y-%m-%d %l:%M %p") : ""}%>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-8">
					<%= f.submit "Submit", :class=>"btn btn-success", :id=>"commit", :name=>"single"%> <%= link_to 'Back', timelogs_path, :class=>"btn btn-danger pull-right" %>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>

<script>
$('#timelog_timein').datetimepicker({
	dateFormat: "yy-mm-dd",
	maskInput: true,
    timeFormat: "hh:mm TT"});
$('#timelog_timeout').datetimepicker({
    dateFormat: 'yy-mm-dd',
	timeFormat: 'hh:mm TT'});
</script>
<script>
	$('#commit').click(function(){
		var input = $('#timelog_timein').val(); 
		input = convertToUtc(input);
		$('#timelog_timein').val(input);
		
		var input2 = $('#timelog_timeout').val(); 
		input2 = convertToUtc(input2);
		$('#timelog_timeout').val(input2);
	});
	
	function convertToUtc(date) {
		//date = new Date(date);
	    //Local time converted to UTC
	    console.log("Time: " + date);
	    //var localOffset = date.getTimezoneOffset() * 60000;
	    //var localTime = date.getTime();
	    //date = localTime + localOffset;
	    date = new Date(date);
	    console.log("Converted time: " + date);
	    return date;
     }
</script>