<h1>New timelog</h1>
<%if current_user.try(:admin) || current_user.email == "signup@team900.org"%>
<%= form_for @timelog do |f| %>
  <div class="field">
    <%="User Number" %><br />
    <%= text_field_tag :owner_userid, "", :class=>"form-control"%>
	<%= javascript_tag "$('#owner_userid').focus()" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :name => 'multi' %>
  </div>
  
<%end%>
<hr />
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>In/Out</th>
			<th>Time</th>
			<th>Weekly Requirements Met?</th>
		</tr>
	</thead>
	<tbody>
		<%@logs.each do |log|%>
			<tr>
				<td><%=log.user.full_name%></td>
				<%if log.timeout.nil?%>
					<td>In</td>
					<td><%=local_time log.timein, "%I:%M:%S %p"%></td>
				<%else%>
					<td>Out</td>
					<td><%=local_time log.timeout, "%I:%M:%S %p"%></td>
				<%end%>
				<%if isPreSeason(Date.today)%>
					<%if log.user.met_preseason_reqs(Date.today)%>
						<td class="success">True</td>
					<%else%>
						<td class="danger">False</td>
					<%end%>
				<%elsif isBuildSeason(Date.today)%>
					<%if log.user.met_build_season_reqs(Date.today)%>
						<td class="success">True</td>
					<%else%>
						<td class="danger">False</td>
					<%end%> 
				<%else%>
					<td></td>
				<%end%>
			</tr>
		<%end%>
	</tbody>
</table>

<%end%>