<div class="row">
  <div class="col-md-9">
    <h1>Listing Hour Requirements</h1>
  </div>
  <div class="col-md-3 pull-right">
    <%= link_to "#{fa_icon("plus")} New Hour Requirement".html_safe, new_requirement_path, :class=>"btn btn-primary" %>
  </div>
</div>
<table class="table table-hover data_table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Pre meetings</th>
      <th>Pre hours</th>
      <th>Build meetings</th>
      <th>Freshman hours</th>
      <th>Sophomore hours</th>
      <th>Junior hours</th>
      <th>Senior hours</th>
      <th>Leadership hours</th>
      <th>Maximum Flex Hours</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requirements.each do |requirement| %>
      <tr>
        <td><%= requirement.year.year_range rescue ""%></td>
        <td><%= requirement.pre_meetings %></td>
        <td><%= requirement.pre_hours %></td>
        <td><%= requirement.build_meetings %></td>
        <td><%= requirement.freshman_hours %></td>
        <td><%= requirement.sophomore_hours %></td>
        <td><%= requirement.junior_hours %></td>
        <td><%= requirement.senior_hours %></td>
        <td><%= requirement.leadership_hours %></td>
        <td><%= requirement.max_flex_hours%></td>
        <td><%= link_to 'Show', requirement %></td>
        <td><%= link_to '', edit_requirement_path(requirement), :class=>"glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', requirement, :class=>"glyphicon glyphicon-trash", method: :delete, data: { confirm: "Are you sure?"}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>