<div class="row">
	<div class="col-md-9">
		<h1>Users</h1>
	</div>
</div>
<%if current_user.try(:admin) || current_user.student_leader%>
	<table class="table table-hover">
		<thead>
	  	  	<tr>
			    <th>Name</th>
				<th>Email</th>
				<th>Build Hours Required Per Week</th>
				<%@weeks.each do |week|%>
					<th><%=week.short_week_range%></th>
				<%end%>
				<th></th>
	  		</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			  <tr>
			    <td style="max-width:150px"><%= link_to user.full_name, user_path(user), method: :get %></td>
				<td><%= user.email%></td>
				<td><%=user.required_build_hours%></td>
				<%@weeks.each do |week|%>
					<%build_season_req = week.met_weekly_reqs(user)%>
					<%if build_season_req%>
						<% build_season_req_class="success"%>
					<%else%>
						<% build_season_req_class="danger"%>
					<%end%>
					<td class=<%="#{build_season_req_class}"%>>
						<%=User.format_time(week.get_users_hours_as_time(user))%>
						<%if !week.get_users_hour_exceptions(user).empty?%>
							*
						<%end%>
					</td>
				<%end%>
				<td><%if current_user.try(:admin)%><%=link_to fa_icon("plus"), new_hour_exception_path(:user_id=>user.id), :target=>"_blank", :class=>"pull-right"%><%end%></td>
			  </tr>
			<% end %>
		</tbody>
	</table>


	<br />
<%end%>