<h1>Users</h1>

<%if current_user.try(:admin)%>
Number of Active Students: <%=@numStudents%>
<br />
Number of Active Mentors: <%=@numMentors%>
<table class="table table-hover">
	<thead>
  	  	<tr>
		    <th>Name</th>
			<th>Admin?</th>
			<th>Student Leader?</th>
		    <th>Email</th>
			<th>Phone Number</th>
			<th><%=Constants::SCHOOL_NAME_REPLACEMENT%></th>
			<th>Home Town</th>
			<th>Gender</th>
			<th>Graduation Year</th>
			<th>User ID Number</th>
			<th>Total Hours in Build Season</th>
			<th>Total Hours</th>
  		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		  <tr>
		    <td><%= link_to user.full_name, user_path(user), method: :get %></td>
			<td><%= user.admin?%></td>
			<td><%= user.student_leader?%></td>
			<td><%= user.email %></td>
			<td><%= number_to_phone(user.phone , area_code: true) %></td>
			<td><%= user.school.name rescue ""%></td>
			<td><%= user.location%></td>
			<td><%= user.gender%></td>
			<td><%= user.graduation_year%></td>
			<td><%= user.userid %></td>
			<td><%= user.build_hours_formatted(Year.current_year) %></td>
			<td><%= user.total_hours_formatted(Year.current_year)%></td>
		  </tr>
		<% end %>
	</tbody>
</table>


<br />

<%= link_to 'New User', new_user_path %>
<%end%>