<div class="row">
	<div class="col-md-9">
		<h1>Users</h1>
	</div>
</div>
<%if current_user.try(:admin) || current_user.student_leader%>
	Number of Active Students: <%=@numStudents%>
	<br />
	Number of Active Mentors: <%=@numMentors%>
	<br />
	Number of Weeks in PreSeason: <%=Year.preseason_weeks%>
	<table class="table table-hover data_table">
		<thead>
	  	  	<tr>
			    <th>Name</th>
				<th>Email</th>
				<th>All Required Forms In?</th>
				<th># Meetings Pre-Season</th>
				<th># Hours Pre-Season</th>
				<th>Build Hours Required Per Week</th>
				<th>Total Hours in Build Season</th>
				<th>All Requirements Met?</th>
				<th></th>
	  		</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			  <tr>
			    <td style="max-width:150px"><%= link_to user.full_name, user_path(user), method: :get %></td>
				<td><%= user.email%></td>
				<%required_forms = user.all_forms_in%>
				<%if required_forms%>
					<% required_cell_class="success"%>
				<%else%>
					<% required_cell_class="danger"%>
				<%end%>
				<td class=<%="#{required_cell_class}"%>>
					<%=required_forms%>
				</td>
				<%preseason_req = (user.preseason_meetings >= @preseasonMin)%>
				<%if preseason_req%>
					<% preseason_req_class="success"%>
				<%else%>
					<% preseason_req_class="danger"%>
				<%end%>
				<td class=<%="#{preseason_req_class}"%>>
					<%= user.preseason_meetings%>
				</td>
				<%preseason_req_hours = (user.years_preseason_hours(Year.current_year) >= @preseasonHoursMin)%>
				<%if preseason_req_hours%>
					<% preseason_req_hours_class="success"%>
				<%else%>
					<% preseason_req_hours_class="danger"%>
				<%end%>
				<td class=<%="#{preseason_req_hours_class}"%>>
					<%= user.pre_hours_formatted(Year.current_year)%>
				</td>
				<td><%=user.required_build_hours%></td>
				<%build_season_req = user.build_season_met%>
				<%if build_season_req%>
					<% build_season_req_class="success"%>
				<%else%>
					<% build_season_req_class="danger"%>
				<%end%>
				<td class=<%="#{build_season_req_class}"%>>
					<%= user.build_hours_formatted(Year.current_year)%>
					<%if !user.hour_exceptions.build_season.empty?%>
						*
					<%end%>
				</td>
				<%all_req = required_forms && build_season_req%>
				<%if all_req%>
					<% all_req_class="success"%>
				<%else%>
					<% all_req_class="danger"%>
				<%end%>
				<td class=<%="#{all_req_class}"%>>
					<%= all_req.to_s.titleize%>
				</td>
				<%if current_user.try(:admin)%>
					<td><%=link_to '', edit_user_path(user), :class=>"glyphicon glyphicon-pencil" %></td>
				<%end%>
			  </tr>
			<% end %>
		</tbody>
	</table>


	<br />
<%end%>