<h1>Users</h1>

<%if current_user.try(:admin)%>
<table class="table table-hover">
	<thead>
  	  	<tr>
		    <th>Name</th>
			<th>Admin?</th>
		    <th>Email</th>
			<th>Phone Number</th>
			<th>School</th>
			<th>Tool use Form</th>
			<th>Code of Conduct</th>
			<th>User ID Number</th>
			<th>Total Hours</th>
		    <th></th>
		    <th></th>
		    <th></th>
  		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<%if user.tools %>
			<%tools_in = "success"%>
		<%else%>
			<%tools_in = "danger"%>
		<%end%>
		<%if user.conduct%>
			<%conduct_in="success"%>
		<%else%>
			<%conduct_in="danger"%>
		<%end%>
		
		  <tr>
		    <td><%= link_to user.full_name, admin_view_user_path(user), method: :get %></td>
			<td><%= user.admin?%></td>
			<td><%= user.email %></td>
			<td><%= user.phone %></td>
			<td><%= user.school.name rescue ""%></td>
			<td class=<%="#{tools_in}"%>><%= user.tools %></td>
			<td class=<%="#{conduct_in}"%>><%= user.conduct %></td>
			<td><%= user.userid %></td>
			<td><%= user.total_hours %></td>
			<td><%=link_to '', admin_edit_user_path(user), :class=>"glyphicon glyphicon-pencil" %></td>
		    <td><%= link_to '', admin_remove_user_path(user), :class=>"glyphicon glyphicon-trash", method: :delete, data: { confirm: "You sure? #{user.email}" } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>


<br />

<%= link_to 'New User', admin_new_user_path %>
<%end%>