<%if current_user.try(:admin) || current_user.id == params[:id].to_f%>
	<div class="row">
		<div class="col-lg-8 col-md-8">
			<h2><%=@user.full_name%></h2>
		</div>
		<div class="col-lg-1 col-md-1 pull-right">
			<%= link_to fa_icon("pencil"), edit_user_path(@user) %> <%= link_to '', @user, :class=>"glyphicon glyphicon-trash", method: :delete, data: { confirm: "You sure? #{@user.email}" } %>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-lg-3 col-md-3">
			<p>
				<b>Name:</b>
				<%= @user.full_name %>
			</p>
	
			<p>
				<b>Student Leader?</b>
				<%= @user.student_leader %>
			</p>

			<p>
				<b>Email:</b>
				<%= @user.email %>
			</p>
	
			<p>
				<b><%=Constants::SCHOOL_NAME_REPLACEMENT%>:</b>
				<%= @user.school.name rescue ""%>
			</p>
	
			<p>
				<b>Hometown:</b>
				<%= @user.location %>
			</p>
	
			<p>
				<b>Gender:</b>
				<%= @user.gender %>
			</p>
	
			<p>
				<b>Graduation Year:</b>
				<%= @user.graduation_year %>
			</p>
	
			<p>
				<b>Phone Number:</b>
				<%= number_to_phone(@user.phone , area_code: true) %>
			</p>
			<p>
				<b>ID Number:</b>
				<%= @user.userid %>
			</p>
			<p>
				<b>Hours Required:</b>
				<%= @user.required_hours %>
			</p>
		</div>
		<div class="col-lg-4 col-md-4">
			<table class="table table-condensed table-hover">
				<tr>
					<th>Year</th>
					<th>Total Hours</th>
					<th>Build Season Hours</th>
				</tr>
				<%@years.each do |year|%>
					<tr>
						<td>
							<%=year.year_range%>
						</td>
						<td>
							<%=@user.total_hours_formatted(year)%>
						</td>
						<td>
							<%=@user.build_hours_formatted(year)%>
						</td>
					</tr>
				<%end%>
			</table>
		</div>
		<div class="col-lg-4 col-md-4">
			<table class="table table-condensed table-hover">
				<tr>
					<%@forms.each do |form|%>
						<th>
							<%=form.name%>
						</th>
					<%end%>
				</tr>
				<tr>
					<%@forms.each do |form|%>
						<%has_form = @user.forms.include?(form)%>
						<%if has_form%>
							<% cell_class="success"%>
						<%else%>
							<% cell_class="danger"%>
						<%end%>
						<td class=<%="#{cell_class}"%>>
							<%=has_form%>
						</td>
					<%end%>
				</tr>
			</table>
		</div>
	</div>
	<br />
	<br />
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Beginning of Week</th>
				<th>Hours</th>
				<th># Meetings</th>
				<th>Required Hours</th>
				<th>Met Requirements?</th>
				<th>Exceptions <%if current_user.try(:admin)%><%=link_to fa_icon("plus"), new_hour_exception_path, :class=>"pull-right"%><%end%></th>
			</tr>
		</thead>
		<%getWeeks.each do |days|%>
			<tr>
				<th><%=days[0]%></th>
				<%date = days[1][0]%>
			    <%time = @user.get_weeks_hours_in_time(date)%>
				<%if current_user.try(:admin)%>
					<td><%=User.format_time(time)%></td>
					<td><%=count = @user.get_weeks_log_count(date)%></td>
				<%end%>
				<%#This part has to do with requirements. Change based on your requirements. Methods can be found in Application Helper%>
				<%if isPreSeason date%>
					<td></td>
					<%if @user.met_preseason_reqs(date)%>
						<td class="success">True</td>
					<%else%>
						<td class="danger">False</td>
					<%end%>
				<%elsif isBuildSeason date%>
					<td><%=@user.weekly_required_hours(date)%></td>
					<%if @user.met_build_season_reqs(date)%>
						<td class="success">True</td>
					<%else%>
						<td class="danger">False</td>
					<%end%> 
				<%else%>
					<td></td>
					<td></td>
				<%end%>
				<td>
					<%exceptions =  @user.hour_exceptions.where("date_applicable >= ? and date_applicable <= ?", date, (days[1].last))%>
					<%if !exceptions.empty?%>
						<%exceptions.order("date_applicable").each do |ex|%>
							<%=link_to ex.reason, ex%><br />
						<%end%>
					<%end%>
				</td>
			<tr>
		<%end%>
	</table>

	<%if current_user.try(:admin)%>
		<hr />
		<h3>All Timelogs</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Time In</th>
					<th>Time Out</th>
					<th>Total Time</th>
				</tr>
			</thead>
			<tbody>
				<%if !@user.timelogs.empty?%>
					<%@user.timelogs.where("timein >= ?", ApplicationHelper.getStartDate).order("timein ASC").each do |log|%>
						<tr>
							<td>
								<%=local_time log.timein rescue ""%>
							</td>
							<td>
								<%=local_time log.timeout rescue ""%>
							</td>
							<td>
								<%=Time.at(log.time_logged).utc.strftime("%H:%M:%S")%>
							</td>
						</tr>
					<%end%>
				<%end%>
			</tbody>
		</table>
	<%end%>
	<hr />
	<%= link_to 'Back', users_path %>
<%else%>
<i>You don't have permission to view this page.</i>
<%end%>