<%if current_user.try(:admin) || current_user.id == params[:id].to_f%>
	<p>
		<b>Name:</b>
		<%= @user.full_name %>
	</p>

	<p>
		<b>Email:</b>
		<%= @user.email %>
	</p>
	
	<p>
		<b><%=SCHOOL_NAME_REPLACEMENT%>:</b>
		<%= @user.school.name %>
	</p>
	

	<p>
		<b>Phone Number:</b>
		<%= number_to_phone(@user.phone , area_code: true) %>
	</p>
	<p>
		<b>ID Number:</b>
		<%= @user.userid %>
	</p>
	<p>
		<b>Build Season Hours:</b>
		<%= @user.build_hours %>
	</p>
	<p>
		<b>Total Hours:</b>
		<%= @user.total_hours %>
	</p>
	
	<hr />
	
	
	
	<hr />
	
	<%all_logs = @user.grouped_logs%>
	<table class="table table-hover">
		<%getWeeks.each do |day|%>	
			<tr>
				<th><%=day[0]%></th>
				<%logs = all_logs.select {|k,v| k.strftime("%m/%d/%Y") == day[0]}%>
					<%total = 0%>
					<%logs.each do |day|%>
						<%day[1].each do |log|%>
							<%total = total+log.time_logged%>
						<%end%>
					<%end%>
				<%if current_user.try(:admin)%>
					<td><%=Time.at(total).utc.strftime("%H:%M:%S")%></td>
					<%breakdown = logs.first[1].group_by{|a| a.timein.strftime("%m/%d/%Y")} rescue 0%>
					<td><%=count = breakdown.count rescue 0%></td>
				<%end%>
				<%#This part has to do with requirements. Change based on your requirements. Methods can be found in Application Helper%>
				<%if isPreSeason day[1][5]%>
					<%if !logs.first.nil? && meetingsPreSeason(count)%>
						<td class="success">True</td>
					<%else%>
						<td class="danger">False</td>
					<%end%>
				<%elsif isBuildSeason day[1][5]%>
					<%if hoursBuildSeason(total) && !logs.first.nil? && meetingsBuildSeason(count)%>
						<td class="success">True</td>
					<%else%>
						<td class="danger">False</td>
					<%end%> 
				<%else%>
					<td></td>
				<%end%>
			<tr>
		<%end%>
	</table>

	<hr />
	<h3>All Timelogs</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Time In</th>
				<th>Time Out</th>
				<th>Total Time</th>
			</tr>
		</thead>
		<tbody>
			<%if !@user.timelogs.empty?%>
				<%@user.timelogs.where("timein >= ?", ApplicationHelper.getStartDate).order("timein ASC").each do |log|%>
					<tr>
						<td>
							<%=local_time log.timein rescue ""%>
						</td>
						<td>
							<%=local_time log.timeout rescue ""%>
						</td>
						<td>
							<%=Time.at(log.time_logged).utc.strftime("%H:%M:%S")%>
						</td>
					</tr>
				<%end%>
			<%end%>
		</tbody>
	</table>
	<hr />

	<%= link_to 'Edit', "edit_timelog_path(@timelog)" %> |
	<%= link_to 'Back', users_path %>
<%end%>