<div class="row">
	<div class="col-md-9">
		<h1>Listing Hour Exceptions</h1>
	</div>
	<div class="col-md-3 pull-right">
		<%= link_to "#{fa_icon("plus")} New Hour Exception".html_safe, new_hour_exception_path, :class=>"btn btn-primary" %>
	</div>
</div>

<table class="table table-hover">
  <tr>
    <th>User</th>
    <th>Submitter</th>
    <th>Date applicable</th>
    <th>Date sent</th>
    <th>Reason</th>
    <th>Year</th>
	<th>Made up hours?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hour_exceptions.each do |hour_exception| %>
  <tr>
    <td><%= link_to hour_exception.user.full_name, hour_exception.user %></td>
    <td><%= hour_exception.submitter %></td>
    <td><%= hour_exception.date_applicable %></td>
    <td><%= hour_exception.date_sent %></td>
    <td><%= hour_exception.reason %></td>
    <td><%= hour_exception.year.year_range %></td>
	<td><%= hour_exception.made_up_hours%></td>
    <td><%= link_to 'Show', hour_exception %></td>
    <td><%= link_to '', edit_hour_exception_path(hour_exception) , :class=>"glyphicon glyphicon-pencil" %></td>
    <td><%= link_to '', hour_exception, :class=>"glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>