<p>
  <b>User:</b>
  <%= link_to @hour_exception.user.full_name, @hour_exception.user %>
</p>

<p>
  <b>Submitter:</b>
  <%= @hour_exception.submitter %>
</p>

<p>
  <b>Date applicable:</b>
  <%= @hour_exception.date_applicable %>
</p>

<p>
  <b>Date sent:</b>
  <%= @hour_exception.date_sent %>
</p>

<p>
  <b>Reason:</b>
  <%= @hour_exception.reason %>
</p>

<p>
  <b>Year:</b>
  <%= @hour_exception.year.year_range %>
</p>

<p>
  <b>Week:</b>
  <%= link_to @hour_exception.week.week_range, @hour_exception.week rescue ""%> 
</p>

<p>
  <b>Made up hours?</b>
  <%= @hour_exception.made_up_hours %>
</p>

<div class="row">
	<%if current_user.try(:admin)%>
		<%=link_to fa_icon("pencil"), edit_hour_exception_path(@hour_exception), :class=>"btn btn-primary"%>
	<%end%>
	<%= link_to 'Back', hour_exceptions_path, :class=>"btn btn-danger pull-right" %>
</div>