<h4>Have hours you will be making up?</h4>
<p>Let us know ahead of time! Hour exceptions can be used any time and are used to let us know you are making up hours. Please be sure to let us know as soon as possible and make the hours up promptly.</p>
<div class="row">
	<%=simple_form_for(@hour_exception, html: { class: 'form-horizontal' },wrapper: :horizontal_form,
	wrapper_mappings: {
	  check_boxes: :horizontal_radio_and_checkboxes,
	  radio_buttons: :horizontal_radio_and_checkboxes,
	  file: :horizontal_file_input,
	  boolean: :horizontal_boolean
	}) do |f|%>
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					Missing Hours Form
				</div>
				<div class="panel-body">
					<%= f.error_notification %>
					<%= f.input :user_id,  :as=>:hidden, :input_html => { :value => user }%>
					<%= f.association :week, label_method: :week_range, collection: Week.this_year.build_season.order(:week_start) %>
					<%= f.input :date_sent,  :as=>:hidden, :input_html => { :value => Date.current }%>
					<%= f.input :reason, hint: "The more you tell us, the more understanding we can be"%>
					<%= f.input :submitter, :as=>:hidden, :input_html => { :value => current_user.email }%>
					<%= f.input :year_id, :as=>:hidden, :input_html => { :value => Year.current_year.id }%>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-8">
							<%= f.submit "Submit", :class=>"btn btn-success"%> 
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	</div>
	<script>
	$('#hour_exception_date_applicable').datepicker({
		dateFormat: 'yy-mm-dd'});
	</script>