<div class="row">
  <div class="col-lg-3 col-md-3">
    <p>
      <b>Name:</b>
      <%= @user.full_name %>
    </p>

    <p>
      <b>Student Leader?</b>
      <%= @user.student_leader %>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b><%=Constants::SCHOOL_NAME_REPLACEMENT%>:</b>
      <%= @user.school.name rescue ""%>
    </p>

    <p>
      <b>Hometown:</b>
      <%= @user.location %>
    </p>

    <p>
      <b>Gender:</b>
      <%= @user.gender %>
    </p>

    <p>
      <b>Graduation Year:</b>
      <%= @user.graduation_year %>
    </p>

    <p>
      <b>Phone Number:</b>
      <%= number_to_phone(@user.phone , area_code: true) %>
    </p>
    <p>
      <b>ID Number:</b>
      <%= @user.userid %>
    </p>
    <p>
      <b>Build Season Hours Required:</b>
      <%= @user.required_hours %>
    </p>
  </div>
  <div class="col-lg-4 col-md-4">
    <table class="table table-condensed table-hover">
      <tr>
        <th>Year</th>
        <th>All Required Forms?</th>
        <th>Total Hours</th>
        <th>Total PreSeason Meetings</th>
        <th>Build Season Hours</th>
      </tr>
      <%@years.each do |year|%>
          <tr>
            <td>
              <%=year.year_range%>
            </td>
            <%required_forms = @user.all_forms_in%>
            <%if required_forms%>
                <% required_cell_class="success"%>
            <%else%>
                <% required_cell_class="danger"%>
            <%end%>
            <td class=<%="#{required_cell_class}"%>>
              <%=required_forms%>
            </td>
            <td>
              <%=@user.total_hours_formatted(year)%>
            </td>
            <td>
              <%=@user.past_preseason_meetings(year)%>
            </td>
            <td>
              <%=@user.build_hours_formatted(year)%>
            </td>
          </tr>
      <%end%>
    </table>
  </div>
  <div class="col-lg-4 col-md-4">
    <table class="table table-condensed table-hover">
      <tr>
        <%@forms.each do |form|%>
            <th>
              <%=form.name%>
            </th>
        <%end%>
      </tr>
      <tr>
        <%@forms.each do |form|%>
            <%has_form = @user.forms.include?(form)%>
            <%if has_form%>
                <% cell_class="success"%>
            <%else%>
                <% cell_class="danger"%>
            <%end%>
            <td class=<%="#{cell_class}"%>>
              <%=has_form%>
            </td>
        <%end%>
      </tr>
    </table>
  </div>
</div>