<%= form_for(@week_exception) do |f| %>
  <% if @week_exception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@week_exception.errors.count, "error") %> prohibited this week_exception from being saved:</h2>

      <ul>
      <% @week_exception.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
	<%= f.text_field :date, :'data-date-format'=>"YYYY-MM-DD"  rescue  f.text_field :date,  :'data-date-format'=>"YYYY-MM-DD" %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
	<%= collection_select(:week_exception, :year_id, Year.order("lower(year_start)"), :id, :year_range, :include_blank=> true, :class=>"input-small")  %>
  </div>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_area :reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <script type="text/javascript">
      $(function () {
          $('#week_exception_date').datetimepicker();
      });
  </script>