<div class="row">
	<div class="col-md-9">
		<h1>Listing Forms</h1>
	</div>
	<div class="col-md-3 pull-right">
		<%= link_to "#{fa_icon("plus")} New Form".html_safe, new_form_path, :class=>"btn btn-primary" %>
	</div>
</div>

<table class="table table-hover">
  <tr>
    <th>Name</th>
	<th>Required</th>
	<th>Archive</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= form.name %></td>
	<td><%= form.required%></td>
	<td><%= form.archive %></td>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to '', edit_form_path(form), :class=>"glyphicon glyphicon-pencil" %></td>
	<td><%= link_to '', form, :class=>"glyphicon glyphicon-trash", method: :delete, data: { confirm: "Are you sure?"} %></td>
  </tr>
<% end %>
</table>

<br />
