<p>
  <b>Name:</b>
  <%= @form.name %>
</p>

<p>
  <b>Required?</b>
  <%= @form.required %>
</p>

<p>
  <b>Archive?</b>
  <%= @form.archive %>
</p>

<div class="row">
	<%if current_user.try(:admin)%>
		<%=link_to fa_icon("pencil"), edit_form_path(@form), :class=>"btn btn-primary"%>
	<%end%>
	<%= link_to 'Back', forms_path, :class=>"btn btn-danger pull-right" %>
</div>