<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1.1',
              'packages':['line']
            }]
          }">
</script>
<script type="text/javascript">
	google.setOnLoadCallback(drawChart);
    function drawChart() {
		chart1(function(){
			chart2(function(){
				chart3(function(){
					chart4(function(){
						chart5();
					});
				});
			});
		});
     }
	 function chart1(chartReady){
 		//Draw the chart which represents how many hours per week per school
        var data = google.visualization.arrayToDataTable([
 		<%=@chartString%>
 		<%@allHoursSchools.each do |week|%>
          	['<%=week[0]%>',  
 			<%@schoolArray.each do |school|%>
 				<%if week[1]['students'][school][0].nil?%>
 					0,
 				<%else%>
 					<%=week[1]['students'][school][0]%>,
 				<%end%> 
 			<%end%>
 			],
 		 <%end%>
        ]);
        var options = {
 		 chart:{
        	  	title: '<%=@selected_year.year_range%>: Total Hours Per <%=Constants::SCHOOL_NAME_REPLACEMENT%> Per Week'
 		 },
          //width: 1200,
          height: 500
        };
        var chart = new google.charts.Line(document.getElementById('per_week_per_school_div'));
		if (typeof chartReady !== 'undefined') google.visualization.events.addOneTimeListener(chart, 'ready', chartReady);
        chart.draw(data, options);
	 }
	 function chart2(chartReady){
  	   //Draw the chart which represents the number of hours per week per student per school
         var data = google.visualization.arrayToDataTable([
  		 <%=@chartString%>
  		 <%@allHoursSchools.each do |week|%>
           	['<%=week[0]%>',  
  			<%@schoolArray.each do |school|%>
  				<%if week[1]['students'][school][1].nil?%>
  					0,
  				<%else%>
  					<%=week[1]['students'][school][1]%>,
  				<%end%> 
  			<%end%>
  			],
  		 <%end%>
         ]);
         var options = {
  		   chart:{
          	   title: '<%=@selected_year.year_range%>: Average Hours Per Student Per <%=Constants::SCHOOL_NAME_REPLACEMENT%> Per Week'
  		   },
           //width: 1200,
           height: 500
         };
         var chart = new google.charts.Line(document.getElementById('per_week_per_student_per_school_div'));
		 if (typeof chartReady !== 'undefined') google.visualization.events.addOneTimeListener(chart, 'ready', chartReady);
         chart.draw(data, options);
	 }
	 function chart3(chartReady){
  	   //Draw the chart which represents the total number of hours per week
         var data = google.visualization.arrayToDataTable([
           ['Date', 'Students', 'Mentors', 'All'],
  		 <%@allHours.each do |week|%>
           	['<%=week[0]%>',  <%=week[1][0]%>, <%=week[1][1]%>, <%=week[1][2]%>],
  		 <%end%>
         ]);
         var options = {
  		   chart:{
          	   title: '<%=@selected_year.year_range%>: Total Hours Per Week'
  		   },
           //width: 1200,
           height: 500
         };
         var chart = new google.charts.Line(document.getElementById('per_week_div'));
		 if (typeof chartReady !== 'undefined') google.visualization.events.addOneTimeListener(chart, 'ready', chartReady);
         chart.draw(data, options);
	 }
	 function chart4(chartReady){
  	   //Draw the chart which represents the cumulative hours per week
         var data = google.visualization.arrayToDataTable([
           ['Date', 'Students', 'Mentors', 'All'],
  		 <%@allHours.each do |week|%>
           	['<%=week[0]%>',  <%=week[1][3]%>, <%=week[1][4]%>, <%=week[1][5]%>],
  		 <%end%>
         ]);
         var options = {
  		   chart:{
          	   title: '<%=@selected_year.year_range%>: Total Cumulative Hours'
  		   },
           //width: 1200,
           height: 500
         };
         var chart = new google.charts.Line(document.getElementById('cumulative_div'));
		 if (typeof chartReady !== 'undefined') google.visualization.events.addOneTimeListener(chart, 'ready', chartReady);
         chart.draw(data, options);
	 }
     function chart5(chartReady) {

       var data = new google.visualization.DataTable();
       data.addColumn('string', 'Day of the Week');
	   <%for i in 1..@monday.size%>
       		data.addColumn('number', '<%="Week #{i}"%>');
       <%end%>

       data.addRows([
         ['Monday',  
		   <%@monday.each do |value|%>
		   		<%=value%>,
		   <%end%>
	   		],
		['Tuesday',  
		  <%@tuesday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
		['Wednesday',  
		  <%@wednesday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
		['Thursday',  
		  <%@thursday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
		['Friday',  
		  <%@friday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
		['Saturday',  
		  <%@saturday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
		['Sunday',  
		  <%@sunday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
     
       ]);

       var options = {
         chart: {
           title: 'Number of Hours Per Day of the Week',
			 
         },
         //width: 1200,
         height: 500,
       };

       var chart = new google.charts.Line(document.getElementById('hours_by_day_of_week'));
	   if (typeof chartReady !== 'undefined') google.visualization.events.addOneTimeListener(chart, 'ready', chartReady);
       chart.draw(data, options);
     }
</script>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="nav nav-pills sidebar-nav nav-stacked" role="tablist">
			<li role="presentation"><a href="#">Top</a></li>
			<li role="presentation"><a href="#Graph1">Total Hours Per <%=Constants::SCHOOL_NAME_REPLACEMENT%> Per Week</a></li>
		    <li role="presentation"><a href="#Graph2">Average Hours Per Student Per <%=Constants::SCHOOL_NAME_REPLACEMENT%> Per Week</a></li>
		    <li role="presentation"><a href="#Graph3">Total Hours Per Week</a></li>
			<li role="presentation"><a href="#Graph4">Cumulative Houres Per Week</a></li>
			<li role="presentation"><a href="#Graph5">Hours By Day of Week</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="row col-md-12">
			<div>
				<%=form_tag do%>
					<div class="form-group">
						<div class="col-lg-4 col-md-4">
							<%= select_tag("year", options_for_select(yearDropdown, @selected_year.id),{:class=>"form-control"})%>
					  	</div>
						<%= submit_tag("Filter", :class=>"btn btn-primary") %>
					</div>
				<%end%>
				<br />
			</div>
			<div>
				<div style="position:relative;">
					<a name="Graph1" style="position:absolute; top:-70px;"></a>
				</div>
				<div id="per_week_per_school_div" class="text-center" width="100%"></div>
				<br />
				<br />
			</div>
			<div>
				<div style="position:relative;">
					<a name="Graph2" style="position:absolute; top:-70px;"></a>
				</div>
				<div id="per_week_per_student_per_school_div" class="text-center" width="100%"></div>
				<br />
				<br />
			</div>
			<div>
				<div style="position:relative;">
					<a name="Graph3" style="position:absolute; top:-70px;"></a>
				</div>
				<div id="per_week_div" class="text-center" width="100%"></div>
				<br />
				<br />
			</div>
			<div>
				<div style="position:relative;">
					<a name="Graph4" style="position:absolute; top:-70px;"></a>
				</div>
				<div id="cumulative_div" class="text-center" width="100%"></div>
				<br />
				<br />
			</div>
			<div>
				<div style="position:relative;">
					<a name="Graph5" style="position:absolute; top:-70px;"></a>
				</div>
				<div id="hours_by_day_of_week" class="text-center" width="100%"></div>
				<br />
				<br />
			</div>
		</div>
	</div>
</div>	
	