<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["line"]});
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
		 <%=@chartString%>
		 <%@allHoursSchools.each do |week|%>
         	['<%=week[0]%>',  
			<%@schoolArray.each do |school|%>
				<%if week[1]['students'][school][0].nil?%>
					0,
				<%else%>
					<%=week[1]['students'][school][0]%>,
				<%end%> 
			<%end%>
			],
		 <%end%>
       ]);

       var options = {
		 chart:{
       	  	title: '<%=@range%>: Total Hours Per <%=SCHOOL_NAME_REPLACEMENT%> Per Week'
		 },
         width: 900,
         height: 500
       };

       var chart = new google.charts.Line(document.getElementById('per_week_per_school_div'));

       chart.draw(data, options);
     }
</script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["line"]});
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
		 <%=@chartString%>
		 <%@allHoursSchools.each do |week|%>
         	['<%=week[0]%>',  
			<%@schoolArray.each do |school|%>
				<%if week[1]['students'][school][1].nil?%>
					0,
				<%else%>
					<%=week[1]['students'][school][1]%>,
				<%end%> 
			<%end%>
			],
		 <%end%>
       ]);

       var options = {
		   chart:{
        	   title: '<%=@range%>: Average Hours Per Student Per <%=SCHOOL_NAME_REPLACEMENT%> Per Week'
		   },
         width: 900,
         height: 500
       };

       var chart = new google.charts.Line(document.getElementById('per_week_per_student_per_school_div'));

       chart.draw(data, options);
     }
</script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["line"]});
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['Date', 'Students', 'Mentors', 'All'],
		 <%@allHours.each do |week|%>
         	['<%=week[0]%>',  <%=week[1][0]%>, <%=week[1][1]%>, <%=week[1][2]%>],
		 <%end%>
       ]);

       var options = {
		   chart:{
        	   title: '<%=@range%>: Total Hours Per Week'
		   },
         width: 900,
         height: 500
       };

       var chart = new google.charts.Line(document.getElementById('per_week_div'));

       chart.draw(data, options);
     }
</script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["line"]});
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['Date', 'Students', 'Mentors', 'All'],
		 <%@allHours.each do |week|%>
         	['<%=week[0]%>',  <%=week[1][3]%>, <%=week[1][4]%>, <%=week[1][5]%>],
		 <%end%>
       ]);

       var options = {
		   chart:{
        	   title: '<%=@range%>: Total Cumulative Hours'
		   },
         width: 900,
         height: 500
       };

       var chart = new google.charts.Line(document.getElementById('cumulative_div'));

       chart.draw(data, options);
     }
</script>
 <script type="text/javascript">
     google.load('visualization', '1.1', {packages: ['line']});
     google.setOnLoadCallback(drawChart);

     function drawChart() {

       var data = new google.visualization.DataTable();
       data.addColumn('string', 'Day of the Week');
       data.addColumn('number', 'Week 1');
       data.addColumn('number', 'Week 2');
	   data.addColumn('number', 'Week 3');
	   data.addColumn('number', 'Week 4');
	   data.addColumn('number', 'Week 5');
	   data.addColumn('number', 'Week 5');

       data.addRows([
         ['Monday',  
		   <%@monday.each do |value|%>
		   		<%=value%>,
		   <%end%>
	   		],
		['Tuesday',  
		  <%@tuesday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
		['Wednesday',  
		  <%@wednesday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
		['Thursday',  
		  <%@thursday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
		['Friday',  
		  <%@friday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
		['Saturday',  
		  <%@saturday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
		['Sunday',  
		  <%@sunday.each do |value|%>
		  		<%=value%>,
		  <%end%>
		],
     
       ]);

       var options = {
         chart: {
           title: 'Number of Hours Per Day of the Week',
         },
         width: 900,
         height: 500
       };

       var chart = new google.charts.Line(document.getElementById('hours_by_day_of_week'));

       chart.draw(data, options);
     }
</script>

<%=form_tag do%>
	<div class="form-group">
		<div class="col-lg-4 col-md-4">
			<%= select_tag("year", options_for_select(yearDropdown, ApplicationHelper.getYearStart(@startDate).year),{:class=>"form-control"})%>
	  	</div>
		<%= submit_tag("Filter", :class=>"btn btn-primary") %>
	</div>
<%end%>

<br />

<div id="per_week_per_school_div" class="text-center"></div> <br /><br />
<div id="per_week_per_student_per_school_div" class="text-center"></div><br /><br />
<div id="per_week_div" class="text-center"></div><br /><br />
<div id="cumulative_div" class="text-center"></div><br /><br />
<div id="hours_by_day_of_week" class="text-center"></div>