<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["bar"]});
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['<%=SCHOOL_NAME_REPLACEMENT%>', 'Total Student hours'],
		 <%@allSchools.each do |school|%>
         	['<%=school[0]%>', <%=school[1][1]%>],
		 <%end%>
       ]);

       var options = {
		   chart:{
        	   title: '<%=@range%>: Total Hours Per <%=SCHOOL_NAME_REPLACEMENT%>'
		   },
         width: 900,
         height: 500
       };

       var chart = new google.charts.Bar(document.getElementById('hours_per_school_div'));

       chart.draw(data, options);
     }
</script>
<script type="text/javascript">
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['<%=SCHOOL_NAME_REPLACEMENT%>', 'Average Hours per Student' ],
		 <%@allSchools.each do |school|%>
         	['<%=school[0]%>', <%=school[1][2]%>],
		 <%end%>
       ]);

       var options = {
		   chart:{
        	   title: '<%=@range%>: Average Hours Per Student Per <%=SCHOOL_NAME_REPLACEMENT%>'
		   },
         width: 900,
         height: 500
       };

       var chart = new google.charts.Bar(document.getElementById('hours_per_student_per_school_div'));

       chart.draw(data, options);
     }
</script>
<script type="text/javascript">
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['<%=SCHOOL_NAME_REPLACEMENT%>', 'Number of Students' ],
		 <%@allSchools.each do |school|%>
         	['<%=school[0]%>',  <%=school[1][0]%>],
		 <%end%>
       ]);

       var options = {
		   chart:{
        	   title: '<%=@range%>: Number of Students Per <%=SCHOOL_NAME_REPLACEMENT%>'
		   },
         width: 900,
         height: 500
       };

       var chart = new google.charts.Bar(document.getElementById('students_per_school_div'));

       chart.draw(data, options);
     }
</script>



<%=form_tag do%>
	<div class="form-group">
		<div class="col-lg-4 col-md-4">
			<%= select_tag("year", options_for_select(yearDropdown, ApplicationHelper.getYearStart(@startDate).year),{:class=>"form-control"})%>
	  	</div>
		<%= submit_tag("Filter", :class=>"btn btn-primary") %>
	</div>
<%end%>
<br />
<p>
	Total Number of Students/Mentors: <%=@totalStudents%>
</p>
<br />
<div class="row">
	<div id="hours_per_school_div" class="text-center"></div>
</div>
<br />
<br />
<div class="row">
	<div id="hours_per_student_per_school_div" class="text-center"></div>
</div>
<br />
<br />
<div id="students_per_school_div" class="text-center"></div>