<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['School', 'Total Student hours'],
		 <%@allSchools.each do |school|%>
         	['<%=school[0]%>', <%=school[1][1]%>],
		 <%end%>
       ]);

       var options = {
         title: 'Hours Per School'
       };

       var chart = new google.visualization.ColumnChart(document.getElementById('hours_per_school_div'));

       chart.draw(data, options);
     }
</script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['School', 'Total Hours per Student' ],
		 <%@allSchools.each do |school|%>
         	['<%=school[0]%>', <%=school[1][2]%>],
		 <%end%>
       ]);

       var options = {
         title: 'Hours Per School'
       };

       var chart = new google.visualization.ColumnChart(document.getElementById('hours_per_student_per_school_div'));

       chart.draw(data, options);
     }
</script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
     google.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['School', 'Number of Students' ],
		 <%@allSchools.each do |school|%>
         	['<%=school[0]%>',  <%=school[1][0]%>],
		 <%end%>
       ]);

       var options = {
         title: 'Students Per School'
       };

       var chart = new google.visualization.ColumnChart(document.getElementById('students_per_school_div'));

       chart.draw(data, options);
     }
</script>



<%=form_tag do%>
	<%= text_field_tag(:year) %>
  	<%= submit_tag("Filter") %>
<%end%>
<p>
	Total Number of Students: <%=@totalStudents%>
</p>
<div id="hours_per_school_div" style="width: 1100px; height: 600px;"></div>
<div id="hours_per_student_per_school_div" style="width: 1100px; height: 600px;"></div>
<div id="students_per_school_div" style="width: 1100px; height: 600px;"></div>