<h1>Listing years</h1>

<table>
  <tr>
    <th>Year start</th>
    <th>Year end</th>
    <th>Build season start</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @years.each do |year| %>
  <tr>
    <td><%= year.year_start %></td>
    <td><%= year.year_end %></td>
    <td><%= year.build_season_start %></td>
    <td><%= link_to 'Show', year %></td>
    <td><%= link_to 'Edit', edit_year_path(year) %></td>
    <td><%= link_to 'Destroy', year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Year', new_year_path %>
