<!DOCTYPE html>
<html>
	<head>
	  <title>Timesheet</title>
	  <%= favicon_link_tag 'zebracorn-32.ico' %>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
	<body style = "padding-top: 70px;">
		<div class="container">
			<% if user_signed_in? %>
				<%=render "/layouts/navIn"%>
			<% else %>
				<%=render "/layouts/navOut"%>
			<%end%>
			
			<%if notice%>
				<div class="alert alert-success" data-dismiss="alert">
					<%= notice %>
					<span aria-hidden="true" class="pull-right"><%=fa_icon("close")%></span>
				</div>
			<%elsif alert%>
				<div class="alert alert-danger" data-dismiss="alert">
					<%= alert %>
					<span aria-hidden="true" class="pull-right"><%=fa_icon("close")%></span>
				</div>
			<%end%>
		
			<%= yield %>
		</div>
		
		<hr />
		<div class="container">
			<div class="col-md-6 pull-right">
				<small>Created by FRC Team 900 - Zebracorns <%=link_to "<span class=\"glyphicon glyphicon-info-sign\"></span>".html_safe, credits_path%></small>
			</div>
		</div>

	</body>
</html>
