<!DOCTYPE html>
<html>
	<head>
	  <title>Timesheet</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body style = "padding-top: 70px;">
		<div class="container">
			<% if user_signed_in? %>
				<%=render "/layouts/navIn"%>
			<% else %>
				<%=render "/layouts/navOut"%>
			<%end%>
			
			<%if notice%>
				<div class="alert alert-success"><%= notice %></div>
			<%elsif alert%>
				<div class="alert alert-danger"><%= alert %></div>
			<%end%>
		

			<%= yield %>
		</div>
		
		<hr />
		<div class="container">
			<div class="col-md-6 pull-right">
				<small>Created by FRC Team 900 - Zebracorns</small>
			</div>
		</div>

	</body>
</html>
